<% activity.forEach(event => { %>
  <div>
    <a href="/<%= event.username %>"><%= event.username %></a>
    <% if (event.action === 'add-archive') { %>added<% } %>
    <% if (event.action === 'del-archive') { %>removed<% } %>
    <a href="dat://<%= event.params.key %>/"><%= event.params.name || event.params.key.slice(0, 8) %></a>
    <span><%= nicedate(event.ts) %> ago</span>
  </div>
<% }) %>
<% if (activity.length >= activityLimit) { %>
  <a href="/explore?view=activity&start=<%= activity[activityLimit-1].key %>"
     class="btn outline">Load more</a>
<% } %>
