<nav class="nav">
  <div class="container">
    <a class="hashbase-logo" href="/" title="<%= appInfo.brandname %>">
      #_hashbase
    </a>

    <ul class="links">
      <li class="nav-item">
        <a href="/about">About</a>
      </li>
      <li class="nav-item">
        <a href="/pricing">Pricing</a>
      </li>
      <% if (session) { %>
        <li class="nav-item">
          <a href="/profile">Hi, Tara</a>
          <i class="fa fa-caret-down"></i>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/profile">Your profile</a>
            <a class="dropdown-item" href="/account">Settings</a>
            <a class="dropdown-item" href="/new-archive">New archive</a>
            <%if (sessionAccount && sessionAccount.plan === 'basic') { %>
              <a class="dropdown-item" href="/pro">
                <span class="pro">Pro</span>
                  Upgrade to pro
              </a>
            <% } %>
            <hr>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      <% } else { %>
        <li class="nav-item btn transparent">
          <a href="/login">Login</a>
        </li>
        <li class="nav-item btn primary">
          <a href="/register">Sign up</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
