<nav class="nav">
  <div class="container">
    <a class="hashbase-logo" href="/" title="<%= appInfo.brandname %>">
      #_hashbase
    </a>

    <ul class="links">
      <li class="nav-item">
        <a href="/about">About</a>
      </li>
      <% if (session) { %>
        <li class="nav-item">
          <a href="/profile">Hi, <%= userRecord.username %></a>
          <span class="dropdown-menu-link">
            <i class="fa fa-caret-down"></i>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/profile">Your profile</a>
              <a class="dropdown-item" href="/account">Settings</a>
              <a class="dropdown-item" href="/pro">
                Upgrade to pro
                <span class="pro-tag">pro</span>
              </a>
              <a class="dropdown-item" href="/logout">Logout</a>
              <hr>
              <a class="dropdown-item" href="/new-archive">New archive</a>
            </div>
          </span>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a href="/login">Login</a>
        </li>
        <li class="nav-item btn primary register">
          <a href="/register">Sign up</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
