<ul class="archive-list popular-content">
  <% popular.forEach(archive => { %>
    <li class="archive">
      <span class="name">
        <a href="/<%= archive.username %>"><%= archive.username %></a>
        /
        <a href="/<%= archive.name %>"><%= archive.name %></a>
      </span>

      <a href="dat:// <%= archive.key %>" class="dat-link">
        dat://<%= archive.key %>
      </a>

      <span class="peer-count">
        <i class="fa fa-share-alt"></i>
        <%= archive.peerCount %>
      </span>
    </li>
  <% }) %>
</ul>