main {
  padding: 2rem 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
  }

  .section {

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    p,
    form {
      max-width: 600px;
      margin: 1rem 0;
    }

    a {
      &:extend(.link);
    }
  }
}