main.home {
  padding-top: 0;

 .nav,
 .mobile-nav-links,
 .mobile-nav-links .mobile-nav-toggle i {
   &:extend(.text-shadow);
   color: @color-text--white-transparent;

  .nav-item:not(.register):hover {
     &:extend(.rounded);
       background: @color-bg--white-transparent;
       overflow: initial !important; // .rounded has overflow: hidden which messes up dropdown
     }
  }
 
  .nav,
  .mobile-nav-links,
  .hero-container {
    background: @color-text;
  }

  .hero {
    &:extend(.antialiased);
    font-weight: 500;
    padding: 1rem 0 3rem 0;

    @media (min-width: @tablet-horizontal) {
      padding: 2rem 0 4rem 0;
    }

    .tagline,
    .blurb {
      margin-bottom: 1.5rem;
    }

    .blurb {
      margin-bottom: 2rem;

      a {
        &:extend(.link);
      }
    }

    .intro .cta {
      font-weight: 700;

      .btn {
        margin-right: 1rem;
        font-weight: 700;

        &:hover {
          background: @color-bg--white-transparent;
        }
      }

      .learn-more:hover {
        text-decoration: underline;
      }
    }

    .pricing {
      &:extend(.rounded);
      background: @color-bg;
      color: @color-text;
      padding: 1rem;
      margin-top: 2rem;

      .price {
        &:extend(.flex);
        margin-bottom: 1rem;
        padding-bottom: .25rem;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid @color-border--light-gray;
        font-weight: 700;

        .cta {
          font-weight: 500;

          i {
            margin-left: .25rem;
          }

          &:hover {

            i {
              transition: margin padding .3s ease;
              margin-right: -.25rem;
              padding-left: .25rem;
            }
          }
        }

        &.pro {
          margin-top: 1rem;
        }
      }

      .pro .features {
        columns: 2;
        -webkit-columns: 2;
        -mox-columns: 2;
      }

      ul.features {
        list-style-type: circle;
        margin-left: 1.5rem;

        li {
          margin-left: 15px;
        }
      }
    }
  }

  .highlighted-content {
    vertical-align: top;
    padding: 3rem 0;

    .popular h2 {
      margin-top: 0;
    }

    .popular, .sidebar {
      width: 100%;
      display: inline-block;
      vertical-align: top;
    }

    .sidebar {

      h2 {
        font-size: .9rem;
        margin-top: 0;
      }

      .your-archives,
      .activity {
        border-radius: 3px; // TODO: why the f isn't &:extend(.rounded) working?
        background: @color-bg--modal-form;
        border: 1px solid @color-border--light-gray;
      }

      .activity {
        margin-top: 2rem;
        padding: 1rem;

        .event .time {
          float: right;
          color: @color-text--light;
        }
      }

      .your-archives {
        border-radius: 3px; // TODO: why the f isn't &:extend(.rounded) working?
        background: @color-bg--modal-form;
        border: 1px solid @color-border--light-gray;

        .archive {
          display: block;
          padding: .25rem 1rem;
          font-size: .85rem;

          &:not(:last-child) {
            border-bottom: 1px solid @color-border--light-gray;
          }

          &:hover {
            background: @color-bg--light-blue;
          }

          .name {
            color: @blue;
            font-weight: 500;
          }

          .peer-count {
            float: right;
          }
        }

        .heading {
          display: flex; // TODO: why isn't &:extend isn't working
          align-items: center;
          justify-content: space-between;
          padding: .25rem 1rem;
          border-bottom: 1px solid @color-border--light-gray;
          font-size: .9rem;

          h2 {
            display: inline-block;
            margin-bottom: 0;
          }
        }

        .no-archives {
          font-size: .85rem;
        }
      }
    }

    @media (min-width: @tablet-horizontal) {
      
      .popular {
        width: 60%;
        margin-right: 4rem;
      }

      .sidebar {
        width: 30%;
        margin-top: 47px;
      }
    }
  }
}
