@import "./base";

main.profile {

  .content {
    display: block;
  }

  .breadcrumbs {
    display: inline-block;
    vertical-align: middle;
  }

  .breadcrumbs + .btn.new-archive {
    display: inline-block;
    margin-left: 1rem;
  }

  .activity {
    display: none;
  }

  @media (min-width: @tablet-horizontal) {
    .content {
      display: flex;
    }

    .archives {
      flex: 2;
      padding-right: 4rem;
    }

    .activity {
      display: block;
      flex: 1;

      h2 {
        margin-top: 0;
        font-size: 1rem;
      }
    }
  }
}