@import "./base";

main.profile {

  a,
  .content {
    display: block;
  }

  .breadcrumbs {
    display: inline-block;
    vertical-align: middle;
  }

  .breadcrumbs + .btn.new-archive {
    display: inline-block;
    margin-left: 1rem;
  }

  .archives,
  .activity {
    width: 100%;
    display: inline-block;
  }

  @media (min-width: @tablet-horizontal) {
    .archives {
      width: 60%;
      margin-right: 4rem;
    }

    .activity {
      width: 30%;
    }
  }
}