.tools-cta {

  .tool {
    &:extend(.rounded);
    //background: @color-bg--light-gray;
    border: 1px solid @color-border--light-gray;
    padding: .5rem 1rem;
    margin-bottom: .5rem;

    a {
      color: @blue;
      font-weight: 500;

      &:hover {
        &:extend(.link);
      }
    }

    .description {
      //color: @color-text--muted;
      margin-left: .25rem;
    }
  }
}