<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cancel Plan: <%= sessionUser.username %> - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <% include com/nav.html %>

    <div class="container pt-4 pb-5">
      <form method="post" class="form-account-cancel-plan">
        <div class="text-center mx-auto w-50">
          <h3 class="thin">Cancel Pro Plan</h3>
          <hr>
          <p>
            Your usage limit will drop to 100 MB.<br>Are you sure?
          </p>
          <div id="errors" class="text-danger"></div>
          <p><button id="submit-btn" type="submit" class="btn btn-danger">Yes, cancel it</button></p>
          <p class="mt-5"><a href="/account">&laquo; Nevermind, I want to keep my plan</a></p>
        </div>
      </form>
    </div>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/account-cancel-plan.js"></script>
  </body>
</html>