<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upgrade: <%= userRecord.username %> - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <% include com/nav.html %>

    <div class="container pt-4 pb-5">
      <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-3"><strong>10 GB</strong> of Hosting</h1>
          <p class="lead">Upgrade to PRO for $9.99/mo.</p>
          <p><i class="fa fa-hand-o-down"></i></p>
        </div>
      </div>
      <form method="post" class="form-account-upgrade">
        <h3 class="thin">Payment details</h3>
        <div>
          <label class="thin text-muted" for="card-element">
            Credit or debit card.
          </label>
          <div id="card-element">
            <!-- a Stripe Element will be inserted here. -->
          </div>
        </div>

        <!-- Used to display form errors -->
        <div id="card-errors" class="text-danger"></div>
        <div class="mt-4 text-right">
          <button id="submit-btn" type="submit" class="btn btn-success" disabled><i class="fa fa-arrow-circle-up"></i> Upgrade</button>
        </div>
      </form>
    </div>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/assets/js/account-upgrade.js"></script>
  </body>
</html>