<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account: <%= sessionUser.username %> - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <% include com/nav.html %>

    <main class="account">
    <div class="container">
      <% if (updated) { %>
        <p class="alert success" role="alert">
          Your account has been updated.
        </p>
      <% } %>

      <h1>
        Hi, <a class="username-link" href="/<%= sessionUser.username %>"><%= sessionUser.username %></a>
      </h1>

      <div class="section usage">
        <h2>Storage</h2>
        <div class="progress-bar-container">
          <span class="label">75/100 MB</span>
          <div class="progress-bar"
               role="progressbar"
               data-value="75"
               data-min="0"
               data-max="100"
               data-label="MB"
               aria-valuenow="75"
               aria-valuemin="0"
               aria-valuemax="100">
            <div class="progress"></div>
          </div>
        </div>

        <p>
          <%= sessionUser.archives.length %> <%=
          pluralize(sessionUser.archives.length, 'archive') %>
          <a href="/profile">View your profile</a>
        </p>
      </div>

      <div class="section settings">
        <h2>Account settings</h2>

        <div class="actions">
        <a href="/account/change-password">Change password</a>

        <% if (sessionAccount.plan === 'basic') { %>
        <button class="btn outline">
          <span>Upgrade</span>
          <span class="pro-tag">Pro</span>
        </button>
        <% } else { %>
        <a href="/account/cancel-plan">
          Cancel your Pro plan
        </a>
        <% } %>
        </div>
      </div>
    </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
  </body>
</html>
