<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account: <%= userRecord.username %> - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <% include com/nav.html %>

    <div class="container pt-4 pb-5">
      <% if (updated) { %>
        <div class="alert alert-success" role="alert">
          Your account has been updated.
        </div>
      <% } %>
      <h4 class="diplay-4"><a href="/<%= userRecord.username %>"><%= userRecord.username %></a></h4>
      <p><%= ucfirst(sessionAccount.plan) %> account. <%= userRecord.archives.length %> <%= pluralize(userRecord.archives.length, 'archive') %>.</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75 / 100 MB Used</div>
      </div>
      <div class="pt-4 text-muted">
        <% if (sessionAccount.plan === 'basic') { %>
          <p>
            Limit: 100 MB.
          </p>
          <p>
            <a href="/account/change-password"><i class="fa fa-pencil"></i> Change password</a>
          </p>
          <p>
            <a href="/account/upgrade"><i class="fa fa-arrow-circle-up"></i> Upgrade to Pro</a>
            to increase your limit to 10 GB.
          </p>
        <% } else { %>
          <p>
            Limit: 10 GB.
          </p>
          <p>
            <a href="/account/change-password"><i class="fa fa-pencil"></i> Change password</a>
          </p>
          <p>
            <a href="/account/cancel-plan"><i class="fa fa-times"></i> Downgrade to free account</a>
          </p>
        <% } %>
      </div>
    </div>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
  </body>
</html>