<!DOCTYPE html>
<html lang="en">
  <head>
    <title>You've been upgraded - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main>
    <div class="container">
      <div class="card modal">
        <h1>You've upgraded to Pro!</h1>
        <p>
          You will receive a receipt via email.
        </p>

        <p>
          Until then, why don't you <a href="/new-archive">upload a new
          archive!
        </p>

        <ul>
          <li><a href="/account">Manage account</a></li>
          <li><a href="/profile">View profile</a></li>
        </ul>
      </div>

      <p class="card modal">Problem? <a href="/support">Contact Support</a></p>
    </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
  </body>
</html>
