<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= username %>/<%= archivename %> - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <% include com/nav.html %>

    <main class="archive">
    <div class="container">
      <p id="error-general" class="alert warning"></p>

      <h1>
        <a href="/<%= username %>"><%= username %></a> / <%= archivename %>
        <% if (isOwner) { %>
          <form id="remove-archive-form" action="/v1/archives/remove" method="POST">
            <input name="key" type="hidden" value="<%= key %>"/>
            <button type="submit" id="remove-archive-btn" class="btn outline">
              Remove
              <i class="fa fa-close"></i>
            </button>
          </form>
        <% } %>
      </h1>

      <div class="section">
        <div class="progress-bar-container">
          <span class="label">Upload progress (<%= progress %>%)</span>
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            aria-valuenow="<%= progress %>"></div>
        </div>
      </div>

      <div class="section">
        <h2>Archive links</h2>
        <p>
          <a href="<%= rawUrl %>" title="<%= rawUrl %>"><%= rawUrl %></a>
        </p>
        <p>
          <a href="<%= niceUrl %>" title="<%= niceUrl %>"><%= niceUrl %></a>
        </p>

    <div class="modal" id="delete-modal">
      <div class="modal-dialog" role="document">
        <form class="modal-content" action="/v1/archives/remove" method="POST">
          <input type="hidden" name="key" value="<%= key %>">
          <div class="modal-header">
            <h5 class="modal-title">Remove Dat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Remove this archive from <%= appInfo.brandname %>?</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Remove</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/archive.js"></script>
  </body>
</html>
