<!DOCTYPE html>
<html class="bg-faded" lang="en">
  <head>
    <title>Forgot Password - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body class="bg-faded">
    <div class="container">
      <form class="form-forgot-password" method="POST">
        <h1 class="form-heading">Forgot your password?</h1>
        <p class="form-desc">
          Enter your email and we'll send you instructions to reset your password.
        </p>
        <div id="success-msg" class="alert alert-success" role="alert"></div>
        <div id="error-general" class="alert alert-warning" role="alert"></div>
        <div class="card mb-3">
          <div class="card-block">
            <div class="form-group">
              <label for="input-email">Email</label>
              <input type="text" name="email" class="form-control" id="input-email">
              <div id="error-email" class="form-control-feedback"></div>
            </div>
            <p>
              <button class="btn primary btn-block" type="submit">Send reset link</button>
            </p>
            <div>
              <a href="/login">&laquo; Back to login</a>
            </div>
          </div>
        </div>
        <div class="card bg-faded text-center text-muted" style="font-weight: 100;">
          <div class="card-block">
            New? <a href="/register">Create an account</a>.
          </div>
        </div>
      </form>
    </div>

    <% include com/footer-light.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/forgot-password.js"></script>
  </body>
</html>