<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Archive - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <% include com/nav.html %>

    <div class="container py-4">
      <h4>Upload a new archive</h4>
      <p class="text-muted">An archive contains a set of files.</p>

      <p class="text-muted text-center my-5 w-75 mx-auto" style="font-size: 90%">
        Archives can be created <a href="https://github.com/datproject/dat" target="_blank">from the command-line</a> or <a href="https://github.com/datproject/dat-desktop" target="_blank">desktop app</a>, or by using the <a href="https://beakerbrowser.com" target="_blank">Beaker Browser</a>.
        After creating the site, you will be given a URL.
        Enter that URL here.
      </p>

      <form id="add-archive-form" class="mt-5" action="/v1/archives/add" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="add-archive-key-input" placeholder="Enter the URL of the Archive you want to host on <%= appInfo.brandname %>" name="key">
          <div id="add-archive-key-error" class="form-control-feedback"></div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="add-archive-name-input" placeholder="Name" name="name">
          <div id="add-archive-name-error" class="form-control-feedback"></div>
          <small id="emailHelp" class="form-text text-muted">The archive will be at <span id="add-archive-name-output">name</span>.<%= userRecord.username %>.<%= appInfo.hostname %>.</small>
        </div>
        <button id="add-archive-submit-btn" type="submit" class="btn btn-primary" disabled>Add Dat</button>
      </form>
    </div>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script>
    window.params = {
      username: "<%= userRecord.username %>"
    }
    </script>
    <script src="/assets/js/new-archive.js"></script>
  </body>
</html>