<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Join - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <% include com/nav.html %>

    <main>
    <div class="container">
      <form class="form modal-form register" action="/v1/register" method="POST">
        <h1 class="heading">Join <%= appInfo.brandname %></h1>
        <div id="error-general" class="alert alert-warning" role="alert"></div>

        <p class="form-group">
          <label for="input-username">Username</label>
          <input autofocus required type="text" name="username" class="form-control" id="input-username"/>
          <div id="error-username" class="form-control-feedback"></div>
          <div id="emailHelp" class="form-control-feedback">
            Your profile URL will be
            <span id="output-username">username</span><span>.<%= appInfo.hostname %></span>
          </div>
        </p>

        <p class="form-group">
          <label for="input-email">Email address</label>
          <input required type="email" name="email" class="form-control" id="input-email">
          <div id="error-email" class="form-control-feedback"></div>
        </p>

        <p class="form-group">
          <label for="input-password">Password</label>
          <input required type="password" name="password" class="form-control" id="input-password" />
          <div id="error-password" class="form-control-feedback"></div>
          <span class="form-control-feedback">
            Must be at least 6 characters long.
          </span>
        </p>

        <div class="actions">
          <button class="btn success" type="submit">Create your account</button>
        </div>
      </form>
    </div>
    </main>

    <% include com/footer-light.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/register.js"></script>
  </body>
</html>
