<!DOCTYPE html>
<html class="bg-faded" lang="en">
  <head>
    <title>Reset Password - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body class="bg-faded">
    <div class="container">
      <form class="form-reset-password" method="POST">
        <h1 class="form-heading">Change your password</h1>
        <div id="success-msg" class="alert alert-success" role="alert"></div>
        <div id="error-general" class="alert alert-warning" role="alert"></div>
        <div class="card mb-3">
          <div class="card-block">
            <div class="form-group">
              <label for="input-newPassword">New password</label>
              <input type="password" name="newPassword" class="form-control" id="input-newPassword">
              <div id="error-newPassword" class="form-control-feedback"></div>
            </div>
            <p>
              <button class="btn primary btn-block" type="submit">Reset password</button>
            </p>
            <div>
              <a href="/login">&laquo; Back to login</a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <% include com/footer-light.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/reset-password.js"></script>
  </body>
</html>